/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* MAIN CLASS */
header {
    height: 100px;
}

#messaging-platform {
    height: 600px;
    width: 1000px;
    /* min e max ? */
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
}

#personal-info {
    border-right: 1px solid lightgray;
}

#chat {
    background-image: url('../img/mine.jpg');
}

.chat-item {
    border-top: 1px solid lightgray;
}

.chat-item:hover {
background-color: rgba(128, 128, 128, 0.5);
}

/* UTILITY CLASS */
.w-35 {
    width: 35%;
}

.w-65 {
    width: 65%;
}

.h-10 {
    height: 10%;
}

.h-80 {
    height: 80%;
}

.h-20 {
    height: 20%;
}

.h-90 {
    height: 90%;
}


/* COLOR CLASS */
.bg-teal {
    background-color: #009687;
}

.bg-light-gray {
    background-color: #e6e6e6;
}

.bg-light-beige {
    background-color: #f0ebe6;
}

.bg-light-sky-blue {
    background-color: #8cd7fa;
}

.bg-white {
    background-color: #ffffff;
}

.bg-light-grayish {
    background-color: #d7d7d2;
}

.silver {
    color: #afafaf;
}

.light-sky-blue {
    color: #8cd7fa;
}

.sent {
    background-color: #d2f5b9;
    right: 20px;
}

.received {
    background-color: #ffffff;
    left: 20px;
}

.message-time {
    font-size: 0.8rem;
    bottom: 2px;
    right: 5px;
}


/* DEBUG CLASS */
/* * {
    border: 1px dashed red;
} */